/* Swiper Navigation */
.swiper-button-next,
.swiper-button-prev {
  color: #1e40af; /* Tailwind blue-800 */
  font-size: 18px;
  transition: transform 0.2s ease-in-out;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.2);
}

/* Swiper Pagination */
.swiper-pagination-bullet {
  background: #34d399; /* Tailwind green-400 */
}
.swiper-pagination-bullet-active {
  background: #10b981; /* Tailwind green-500 */
}
